<form action="signup" method="POST">

Name:<input type="text" name="name" id="name">
Email:<input type="text" name="email" id="email">
Password:<input type="password" name="password" id="password">
<input type="submit" id="submit">
</form>