<h2>Create or select a workout from below!</h2>

<a href="/workouts/new"><button class="button">New Workout</button></a>
<br>
<br>
<% @user.workouts.each do |workout| %>

<p>-<a href="/workouts/<%=workout.id%>"> <%= workout.name %></a></p>

<%end%>
