

<% if logged_in? %>

<h1>Hello <%= current_user.name %></h1><br>

    <a href="/workouts"><button class="button">View Workouts</button> </a><br>
    <a href="/workouts/new"><button class="button">New Workout</button> </a><br>
    <a href="/logout"><button class="button">Log Out</button> </a>

<% else %>
<h1>Welcome! Create a new accout or log in below.</h1>

    <a href="/signup"><button class="button">Sign Up</button></a><br>
    <a href="/login"><button class="button">Log In</button></a>
<% end %>