<h1>Welcome! Create a new accout or log in below.</h1>

<% if logged_in? %>

<h2>Hello <%= current_user.name %></h2><br>

<a href="/workouts"> View Workouts </a>
<a href="/workouts/new"> New Workout </a>
    <a href="/logout"> Log Out </a>

<% else %>

    <a href="/signup"><button class="button">Sign Up</button></a><br>
    <a href="/login"><button class="button">Log In</button></a>
<% end %>