<h1>Welcome! </h1>

<% if logged_in? %>

<h2>Hello <%= current_user.name %></h2><br>

<a href="/workouts"> View Workouts </a>
<a href="/workouts/new"> New Workout </a>
    <a href="/logout"> Log Out </a>

<% else %>

 <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
<% end %>